.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clockface {
  width: 150px;
  padding: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  text-align: center;
  line-height: 30px;
}
.clockface > div {
  clear: both;
  overflow: auto;
}
.clockface .cell {
  width: 30px;
  height: 30px;
  cursor: default;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.clockface .cell.active,
.clockface .cell.active:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.clockface .cell:hover {
  background-color: #dcdcdc;
}
.clockface.minute .cell.active,
.clockface.minute .cell.active:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.clockface.minute .cell.active:hover,
.clockface.minute .cell.active:hover:hover,
.clockface.minute .cell.active:active,
.clockface.minute .cell.active:hover:active,
.clockface.minute .cell.active.active,
.clockface.minute .cell.active:hover.active,
.clockface.minute .cell.active.disabled,
.clockface.minute .cell.active:hover.disabled,
.clockface.minute .cell.active[disabled],
.clockface.minute .cell.active:hover[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.clockface.minute .cell.active:active,
.clockface.minute .cell.active:hover:active,
.clockface.minute .cell.active.active,
.clockface.minute .cell.active:hover.active {
  background-color: #408140 \9;
}
.clockface.hour .cell.active,
.clockface.hour .cell.active:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.clockface.hour .cell.active:hover,
.clockface.hour .cell.active:hover:hover,
.clockface.hour .cell.active:active,
.clockface.hour .cell.active:hover:active,
.clockface.hour .cell.active.active,
.clockface.hour .cell.active:hover.active,
.clockface.hour .cell.active.disabled,
.clockface.hour .cell.active:hover.disabled,
.clockface.hour .cell.active[disabled],
.clockface.hour .cell.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.clockface.hour .cell.active:active,
.clockface.hour .cell.active:hover:active,
.clockface.hour .cell.active.active,
.clockface.hour .cell.active:hover.active {
  background-color: #003399 \9;
}
.clockface .l1 .cell,
.clockface .l5 .cell {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.clockface .l2 .left,
.clockface .l3 .left,
.clockface .l4 .left {
  float: left;
}
.clockface .l2 .right,
.clockface .l3 .right,
.clockface .l4 .right {
  float: right;
}
.clockface .l3 .center span {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 0 2px;
}
.clockface input {
  width: 20px;
  margin: 0;
  vertical-align: top;
}
.clockface a {
  text-decoration: none;
  padding: 0 3px;
  vertical-align: top;
  font-size: 0.85em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.clockface a.am {
  margin-right: 8px;
}
.clockface a.active,
.clockface a.active:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #62c46f;
  background-image: -moz-linear-gradient(top, #62c462, #62c483);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#62c483));
  background-image: -webkit-linear-gradient(top, #62c462, #62c483);
  background-image: -o-linear-gradient(top, #62c462, #62c483);
  background-image: linear-gradient(to bottom, #62c462, #62c483);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff62c483', GradientType=0);
  border-color: #62c483 #62c483 #3b9e5c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #62c483;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.clockface a.active:hover,
.clockface a.active:hover:hover,
.clockface a.active:active,
.clockface a.active:hover:active,
.clockface a.active.active,
.clockface a.active:hover.active,
.clockface a.active.disabled,
.clockface a.active:hover.disabled,
.clockface a.active[disabled],
.clockface a.active:hover[disabled] {
  color: #ffffff;
  background-color: #62c483;
  *background-color: #4fbd74;
}
.clockface a.active:active,
.clockface a.active:hover:active,
.clockface a.active.active,
.clockface a.active:hover.active {
  background-color: #42b167 \9;
}
